<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/scripts/tools.js"></script>
    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/table.css">
    <link rel="stylesheet" href="/assets/styles/editathon.css">
    <header>
        <% if(key) { %>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard?key=<%= key %>">Dashboard</a></li>
                <li><a href="/editathon?key=<%= key %>">Editathon</a></li>
                <li><a href="javascript:void" onclick="history.back()">Go back</a></li>
            </ul>
            <% } else { %>
                <p>Enter key first</p>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="javascript:void" onclick="history.back()">Go back</a></li>
                </ul>
                <% } %>
    </header>
    <style>
        tr.deleted {
            background-color: rgb(255, 87, 87);
        }

        tr:nth-child(odd).deleted {
            background-color: rgb(191, 37, 3);
        }
    </style>
</head>

<body>
    <div class="settings">
        <button id="deleteBtn" onclick="deleteSelected()">Delete Selected</button>
        <button id="cancelBtn" onclick="cancelDelete()">Cancel</button>
    </div>
    <table>
        <thead>
            <tr id="headerRow">
                <!-- Dynamic headers will be appended here -->
            </tr>
        </thead>
        <tbody id="table">
            <!-- Table body rows -->
        </tbody>
    </table>
</body>
<script>
    const key = "IOt0opzjmObdTqewC/FGm5PHNmV+7QuhbHmox5bpfFE=";
    let storedData = JSON.parse(localStorage.getItem(key));
    const userdata = JSON.parse(validateStr('<%= jsondata %>'));
    init(userdata.trns);
    const mkey = "<%=key%>";
    function loadTable(currentPage, startindex, callback) {
        proxyFetch(
            "get-rows",
            { key: mkey, startindex: startindex, currentPage, count: "All" },
            (data) => {
                callback(data);
            }
        );
    }
    let currentPage = 1;
    let totalPages = 1;
    let startindex = 0;

    loadTable(currentPage, startindex, (data) => {
        table.innerHTML = data.html;
        table.querySelectorAll("tr").forEach((row) => {
            row.addEventListener("click", () => {
                deleteRow(row);
            });
        });
    });
    function deleteSelected() {
        const rows = document.querySelectorAll("tr.deleted");
        const deletedRows = [];
        rows.forEach((row) => {
            deletedRows.push(row.querySelectorAll("td")[1].innerText);
        });
        if (deletedRows.length > 0) {
            proxyFetch(
                "remove",
                { key: mkey, list: deletedRows, user: storedData.user },
                (data) => {
                    if (data.message) {
                        msg(data);
                    } else {
                        msg({
                            message: "Error deleting rows",
                            redirect: null,
                            type: "error",
                            autoHide: 2,
                        });
                    }
                }
            );
        } else {
            msg({
                message: "No rows selected for deletion",
                redirect: null,
                type: "info",
                autoHide: 2,
            });
        }
    }
    function cancelDelete() {
        const rows = document.querySelectorAll("tr.deleted");
        rows.forEach((row) => {
            row.classList.remove("deleted");
        });
        msg({
            message: "Deletion cancelled",
            redirect: null,
            type: "info",
            autoHide: 2,
        });
    }
</script>
<!-- <script src="/assets/scripts/editathon.js"></script> -->
<script>
    function makeRowCollapsible(row) { return 0; }
    let list = {}
    function deleteRow(row) {
        console.log(row);
        // make the row red on onclick and make normal on second click
        row.classList.toggle("deleted");
        //onclick store the row serial number in list
        let name = row.querySelectorAll("td")[0].innerText;
        if (list[name]) {
            delete list[name];
        } else {
            list[name] = row.querySelectorAll("td")[1].innerText;
        }
    }
</script>

</html>